doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Webpack
	body
		.bg
		.bg2
			//- img(src="./assets/images/about_mark_favorite.png", alt="")
		//- p ウォッチ確認